@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aniyah';
  src: url('/Font/Aniyah.ttf') format('woff');
 
}

.transition-transform {
  transition-property: left; /* Propriedade a ser animada */
  transition-duration: 0.5s; /* Duração da animação */
  transition-timing-function: ease-in-out; /* Função de temporização da animação */
}


.dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] lg:bg-slate-900 lg:text-white items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-ouro;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-ouro ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }